name: Build sqlx image

on:
  push:
    branches: [main]
    paths: ["backend/migrations/**", "backend/sqlx.Dockerfile"]

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/sqlx.Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/agforest-sqlx:latest
